In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
from time import sleep
from selenium.common.exceptions import NoSuchElementException
from datetime import datetime
from selenium.webdriver.chrome.options import Options

In [2]:
path = r"C:\Users\Sanchit\Downloads\chromedriver.exe"
mobile_emulation = {
   "deviceMetrics": { "width": 360, "height": 640, "pixelRatio": 3.0 },
   "userAgent": "Mozilla/5.0 (Linux; Android 4.2.1; en-us; Nexus 5 Build/JOP40D) AppleWebKit/535.19 (KHTML, like Gecko) Chrome/18.0.1025.166 Mobile Safari/535.19" }

options = Options()
options.add_experimental_option("mobileEmulation", mobile_emulation)

In [8]:
df = pd.read_excel('Chennai, Pune, Kolkata, Gurgaon, Noida, Chandigarh, Lucknow, Jaipur, Vizag & Pune, Ahemdabad, Faridabad.xlsx')

In [9]:
df

          City  Pincode
0      Chennai   600018
1      Chennai   600020
2      Chennai   600082
3      Chennai   600029
4      Chennai   600040
..         ...      ...
351  Ahmedabad   382475
352  Ahmedabad   380059
353  Ahmedabad   382418
354  Ahmedabad   382440
355  Faridabad   121002

[356 rows x 2 columns]

In [10]:
storeid = []

In [11]:
i = 0

In [14]:
while i<len(df):
    browser = webdriver.Chrome(executable_path=path, chrome_options = options)
    browser.get('https://www.swiggy.com/swiggy-instamart')
    sleep(1)
    browser.find_element_by_xpath('//*[@id="root"]/div/main/section[1]/div/div/div[2]/a/button/div/span').click()
    sleep(1)
    browser.find_element_by_xpath('//*[@id="root"]/div/div[1]/button').click()
    sleep(2)
    browser.find_element_by_xpath('//*[@id="root"]/div/div[1]/div[1]/div/div[1]/label/input').send_keys(str(df.loc[i,"Pincode"]))
    sleep(2)
    try:
        browser.find_element_by_xpath('//*[@id="root"]/div/div[1]/div[2]/div/div/button[1]/span/span[2]').click()
        sleep(2)
        browser.find_element_by_xpath('//*[@id="root"]/div/div/div[3]/div/div[2]/div/div[2]/div[2]/button/div/span[1]').click()
        sleep(2)
        browser.find_element_by_xpath('//*[@id="root"]/div/div/div[1]/div/form/div/input').send_keys('yogabars')
        sleep(2)
        browser.find_element_by_xpath('//*[@id="root"]/div/div/div[2]/div[2]/div/div/div[1]/div/div[2]').click()
        src = browser.current_url
        fin = src.split("=")
        storeid.append(fin[1])
    except NoSuchElementException:
        storeid.append("Location Inservicable")
    
    browser.close()
    i=i+1

In [15]:
storeid

['1150192',
 '1369819',
 '1380711',
 '649835',
 '1381442',
 '649835',
 '1381442',
 '1265810',
 '649835',
 '836516',
 '1380711',
 '1369819',
 '1382057',
 '1382057',
 '810362',
 '836516',
 '1382057',
 '1265810',
 '1306200',
 '1382057',
 '969381',
 '1380711',
 '1150192',
 '1380711',
 '1265810',
 '1380711',
 '1265810',
 '1381159',
 '1382057',
 '1265810',
 '1265810',
 '1265810',
 '836516',
 '1382057',
 '1150192',
 '649835',
 '1369819',
 '836516',
 '1382057',
 '969381',
 '649835',
 '1150192',
 '836518',
 '836518',
 '969381',
 '1306200',
 '1381159',
 '1382057',
 '1150192',
 '649835',
 '737085',
 '1369819',
 '1230880',
 '810362',
 '1382057',
 '969381',
 '1381752',
 '1265810',
 '1382057',
 '969384',
 '1380621',
 '1099456',
 '1169284',
 '1348437',
 'Location Inservicable',
 '1167234',
 '1135719',
 '1380621',
 '1369820',
 '1331744',
 'Location Inservicable',
 '1135719',
 '1135717',
 'Location Inservicable',
 '1169284',
 'Location Inservicable',
 '1380524',
 '1380621',
 '1348437',
 '1135719',
 '1348437',
 '1099456',
 '1348437',
 'Location Inservicable',
 '1380524',
 '1348437',
 '1169284',
 '1099456',
 '1348437',
 '1348437',
 '1348437',
 '1237258',
 'Location Inservicable',
 '1167234',
 '1380524',
 '1167234',
 'Location Inservicable',
 '1348437',
 '1169284',
 '1331744',
 '1380524',
 '1135717',
 '1135719',
 '1331744',
 '1169284',
 '1167234',
 '867467',
 '1135719',
 '1380524',
 'Location Inservicable',
 '1331744',
 '1135717',
 '901840',
 '1348437',
 '1167234',
 '1135717',
 '901840',
 '1380524',
 '1135719',
 '1135717',
 '1135719',
 '1348437',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 '737086',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 '1278169',
 'Location Inservicable',
 'Location Inservicable',
 '886522',
 'Location Inservicable',
 'Location Inservicable',
 '1381563',
 'true&query',
 '1381563',
 'Location Inservicable',
 'Location Inservicable',
 '1239163',
 '1265812',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 '1348932',
 '1298919',
 '1238361',
 'Location Inservicable',
 '969385',
 '1231057',
 '1261845',
 '1230886',
 '1299281',
 '1339714',
 '973252',
 '973252',
 'Location Inservicable',
 'Location Inservicable',
 '1309583',
 'Location Inservicable',
 '1347753',
 'Location Inservicable',
 'Location Inservicable',
 '1237260',
 '1309583',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 '1278163',
 '1339714',
 'Location Inservicable',
 'Location Inservicable',
 '1381755',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 '1382290',
 '1382290',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 '1346769',
 '1346769',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 '1381358',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 '1345681',
 '1309584',
 '973248',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 '1309584',
 '1309584',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 '973248',
 'Location Inservicable',
 '1381358',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 '1345681',
 '1309584',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 '1345681',
 '1381358',
 'Location Inservicable',
 '1345681',
 'Location Inservicable',
 '973248',
 'Location Inservicable',
 '1381358',
 'Location Inservicable',
 '973248',
 '1309584',
 '1345681',
 'Location Inservicable',
 '1381358',
 'Location Inservicable',
 '973248',
 '1345681',
 '1309584',
 '973248',
 '973248',
 '973248',
 '1309584',
 '1381849',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 '1062414',
 '1062414',
 'Location Inservicable',
 'Location Inservicable',
 '1062414',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 '1062414',
 'Location Inservicable',
 'Location Inservicable',
 '1062414',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 '1062414',
 'Location Inservicable',
 '1062414',
 '1381156',
 'Location Inservicable',
 'Location Inservicable',
 '1230877',
 'true&query',
 '1346588',
 'Location Inservicable',
 '1346588',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 '1346588',
 'Location Inservicable',
 'Location Inservicable',
 '1346588',
 'Location Inservicable',
 'Location Inservicable',
 '1346588',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 '1239168',
 '1381156',
 '1381156',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 '1346588',
 '1062414',
 '1346588',
 '1062414',
 'Location Inservicable',
 'Location Inservicable',
 '1346588',
 'Location Inservicable',
 'Location Inservicable',
 'Location Inservicable',
 '1230877',
 'Location Inservicable',
 'Location Inservicable',
 '1381444']

In [16]:
df["Store ID"] = storeid

In [17]:
df.to_excel('rest of the cities Pincode vs Store ID.xlsx')

In [13]:
i

126

In [28]:
x = df.head(704)

In [29]:
x["Store ID"] = storeid

In [31]:
x.to_excel('DMH Pincode vs Store ID.xlsx')